[submodule "OCR_Project"]
	path = OCR_Project
	url = https://github.com/Manjot-Singh-D/OCR_Project.git
[submodule "My-Community-App"]
	path = My-Community-App
	url = https://github.com/Manjot-Singh-D/My-Community-App.git
[submodule "OlympicVisualization_R"]
	path = OlympicVisualization_R
	url = https://github.com/Heisenberg-737/OlympicVisualization_R.git
